@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  padding-right: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: black;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#browser {
  margin: 10px auto;
  color: white;
  width: 80%;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #394141;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
}






#content {
  background: #454f4f;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}

#content #left {
  float: left;
  width: 75%;
  background: #7BC087;
}
/* imporant section*/


#content #left #map {
  height: 388px;
  position: relative;
  background-image: url("map.jpg");
  background-size: cover;
}





#content #left #map .map-locator {
  position: absolute;
  top: 30%;
  left: 25%;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 2px white;
}
#content #left #map .map-locator:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
}
#content #left #map .map-locator .tooltip {
  position: absolute;
  color: #394141;
  left: 50px;
  top: -10px;
  background: white;
  font-size: 0.8em;
  font-weight: 600;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


#content #left #map .map-locator .tooltip li {
  border-bottom: solid thin #CCC;
  padding: 10px;
  white-space: nowrap;
}
#content #left #map .map-locator .tooltip li a {
  color: #51B2D6;
}
#content #left #map .map-locator .tooltip li:hover [class*="entypo-"] {
  color: #51B2D6;
}



#content #right {
  float: left;
  width: 25%;
  background: #454f4f;
  font-size: 0.75em;
  padding: 15px;
}



#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
}
#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}

#content #right form input,
#content #right form textarea {
  background: #394141;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
}

#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
  text-transform: uppercase;
  background: #7BC087;
  width: 50%;
  color: white;
  margin-top: 5px;
}


#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}
