body {
	background-color: white;
	font-color:black;
}

a{
  text-decoration: none;
}

h1{
	font-size: 12px;
	
}

h2{
  font-size: 16px;
  text-shadow: 0 0 3px #FF0000;
}


h4{
  font-size: 24px;
    font-weight:600;
}

h3{
  font-size:33px;
    font-weight: 700;
}

#h3diff{
  color:dodgerblue;
  text-decoration:none;
}

#h3diffe{
  color:#817777;
  text-decoration: none;
}

h5{
  font-size:13px;
  font-weight: bold;
}

h6{
  font-size:22px;
    font-weight: 700;
    text-shadow: 0 0 3px #FF0000;
}

#thetopheader{
	font-family: 'Open Sans', sans-serif;
	float: left;
	height:95px;
	width: 100%;
  margin-left: 5px;
	border: 2px black;
	border-style: solid;
}

#image{
  float: left;
	margin-left: 900px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  float: left;
  width: 100%;
}

.centered {
  position: absolute;
  top: 47%;
  left: 47.9%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

label {
  position: relative;
  display: block;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  font-size: 30px;
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
}


#image1{
 float: left;
  width: 100%;
  height:50%;
  margin-left: 18px;
  margin-right: 5px;
  transform: scaleX(-1);
}

#button {
  background-color: #4CAF50;
  border: none;
  color: blue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 42.5%;
  margin-bottom: 48px;
  border-radius: 50%;
}

.carousel-wrapper{
  height:200px;
  position:relative;
  width:1900px;
  margin-left: 5px;
  float: left;
}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:0;
}
 
.arrow-next{
  right:0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-0{
  z-index: 2;
  opacity: 1;
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-size: 1900px 450px;
}
.item-1{
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg' );
  background-size:cover;
  background-repeat: no-repeat;
  background-size: 1900px 450px;
}

.item-2{
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
   background-size:cover;
   background-repeat: no-repeat;
   background-size: 1900px 450px;
}

*:target ~ .item-0 {
    opacity: 0;
}

#item-0:target ~ .item-0 {
    opacity: 1;
}

#item-1:target ~ .item-1, #item-2:target ~ .item-2 {
    z-index: 3;
    opacity: 1;
}

#comingsoon{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height:95px;
  width: 100%;
  border: 2px black;
  margin-left: 5px;
  border-style: solid;
  text-align-last: center;
  background-color: #ffffff;
  text-shadow: 4px 4px 4px #aaa;
}

#engineering{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height: 140px;
  width: 330px;
  margin-left: 10px;
  border: 1.5px black;
  border-style: solid;
  text-align-last: center;
  text-align: center;
   background: url("https://www.edx.org/sites/all/themes/atedx/images/experiments/home/subjects/engineering.jpg") 50% 80% / 350px 140px no-repeat;
}

#language{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height: 140px;
  margin-left: 150px;
  width: 350px;
  border: 1.5px black;
  border-style: solid;
  text-align-last: center;
   background: url("https://www.edx.org/sites/all/themes/atedx/images/experiments/home/subjects/language.jpg") 50% 50% / 350px 140px no-repeat;
}

#statistics{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height: 140px;
  margin-left: 170px;
  width: 350px;
  border: 1.5px black;
  border-style: solid;
  text-align-last: center;
   background: url("https://www.edx.org/sites/all/themes/atedx/images/experiments/home/subjects/data-statistics.jpg") 50% 50% / 350px 140px no-repeat;
}

#Business{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height: 140px;
  margin-left: 170px;
  width: 350px;
  border: 1.5px black;
  border-style: solid;
  text-align-last: center;
  background: url("https://www.edx.org/sites/all/themes/atedx/images/experiments/home/subjects/business-management.jpg") 50% 50% / 350px 140px no-repeat;
}

#Finance{
  font-family: 'Open Sans', sans-serif;
  float: left;
  height: 140px;
  margin-left: 165px;
  width: 350px;
  border: 1.5px black;
  border-style: solid;
  text-align-last: center;
  background: url(https://www.edx.org/sites/all/themes/atedx/images/experiments/home/subjects/finance-ecom.jpg) 50% 50% / 350px 140px no-repeat;
}

  








 

